<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianzibi.mapper.QuestionInfoMapper">

    <resultMap id="BaseResultMap" type="com.qianzibi.entity.po.QuestionInfo">
            <id property="questionId" column="question_id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
            <result property="difficultyLevel" column="difficulty_level" jdbcType="TINYINT"/>
            <result property="question" column="question" jdbcType="VARCHAR"/>
            <result property="answerAnalysis" column="answer_analysis" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createUserId" column="create_user_id" jdbcType="VARCHAR"/>
            <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
            <result property="readCount" column="read_count" jdbcType="INTEGER"/>
            <result property="collectCount" column="collect_count" jdbcType="INTEGER"/>
            <result property="postUserType" column="post_user_type" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        question_id,title,category_id,
        difficulty_level,question,answer_analysis,
        create_time,status,create_user_id,
        create_user_name,read_count,collect_count,
        post_user_type
    </sql>

    <update id="updateBatchByQIFId" parameterType="com.qianzibi.entity.query.QuestionInfoQuery">
        UPDATE question_info
        <set>
            <if test="query.title != null">
                title = #{query.title},
            </if>
            <if test="query.categoryId != null">
                category_id = #{query.categoryId},
            </if>
            <if test="query.categoryName != null">
                category_name = #{query.categoryName},
            </if>
            <if test="query.difficultyLevel != null">
                difficulty_level = #{query.difficultyLevel},
            </if>
            <if test="query.question != null">
                question = #{query.question},
            </if>
            <if test="query.answerAnalysis != null">
                answer_analysis = #{query.answerAnalysis},
            </if>
            <if test="query.createTime != null">
                create_time = #{query.createTime},
            </if>
            <if test="query.status != null">
                status = #{query.status},
            </if>
            <if test="query.createUserId != null">
                create_user_id = #{query.createUserId},
            </if>
            <if test="query.createUserName != null">
                create_user_name = #{query.createUserName},
            </if>
            <if test="query.readCount != null">
                read_count = #{query.readCount},
            </if>
            <if test="query.collectCount != null">
                collect_count = #{query.collectCount},
            </if>
            <if test="query.postUserType != null">
                post_user_type = #{query.postUserType},
            </if>
        </set>
        where question_id in (<foreach item="item" collection="questionIds" separator=",">#{item}</foreach>)
    </update>

    <!-- 添加 （批量插入）-->
    <insert id="insertBatch" parameterType="com.qianzibi.entity.po.QuestionInfo" useGeneratedKeys="true"
            keyProperty="questionId">
        INSERT INTO question_info(
        title,
        category_id,
        category_name,
        difficulty_level,
        question,
        answer_analysis,
        create_time,
        status,
        create_user_id,
        create_user_name,
        read_count,
        collect_count,
        post_user_type
        )values
        <foreach collection="queryList" item="item" separator=",">
            (
            #{item.title},
            #{item.categoryId},
            #{item.categoryName},
            #{item.difficultyLevel},
            #{item.question},
            #{item.answerAnalysis},
            #{item.createTime},
            #{item.status},
            #{item.createUserId},
            #{item.createUserName},
            #{item.readCount},
            #{item.collectCount},
            #{item.postUserType}
            )
        </foreach>
    </insert>
</mapper>
